@font-face {
  font-family: 'TT Fors';
  src: url('../../../assets/fonts/TTFors-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background: var(--tg-theme-secondary-bg-color, white);
  margin: 0 !important;
  font-family: 'TT Fors', sans-serif;
}
