.CustomTapBlogPageTitle{
    color: var(--Text-Primary, #272727);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 12px;
}